<DOCTYPE! html>
<html>
	<head>
		<link rel="stylesheet" href="../static/games.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
	</head>
	<body>
		<div class="navbar">
			<div class="list">
				<a href="/" style="text-decoration:none">
					<div class="bubble home">
						<img src="../static/home.png" alt="home">
					</div>
				</a>
				<a href="/" style="text-decoration:none">
					<div class="bubble game">
						<img src="../static/game.png" alt="game">
					</div>
				</a>
				<a href="/" style="text-decoration:none">
					<div class="bubble about">
						<img src="../static/about.png" alt="about">
					</div>
				</a>
				<a href="/" style="text-decoration:none">
					<div class="bubble hire">
						<img src="../static/hire.png" alt="hire">
					</div>
				</a>
				<a href="/" style="text-decoration:none">
					<div class="bubble sign">
						<img src="../static/sign.png" alt="sign">
					</div>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="game">
				<div class="game-img">
				</div>
				<div class="game-text">
					<div class="game-info">
						<h3>HorrorWords</h3>
						<p>This game is based on a simple game named hangman where you have a number of tries to find a specific word trying each letter, what we did here is that we added some animations and an horror theme to it to make it more enjoyable.</p>
					</div>
					<a href="/games/horrorwords" style="text-decoration:none">
						<div class="btn">
							<p>Download</p>
							<img src="../static/arrow.png" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>